body {
    color: 212121;
    padding-top: 70px;
}

.navbar-header .navbar-brand img {
    height: 100%;
    padding-right: .5em;
}

#page {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

#openConfig,
#closeConfig {
    float: right;
}

select{
    font-family: monospace;
}

.wrapper {
    display: inline-block;
    border: 1px dotted #9E9E9E;
}

.card {
    border: 2px solid #212121;
    padding: 0;
    margin: .2cm;
    width: 5.8cm;
    display: inline-block;
    height: 3.8cm;
    overflow: hidden;
    position: relative;
}

.card:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.no-print {
    opacity: 0.3;
}

.card.pbi {
    border-left-width: 4px;
    padding-left: 4px;
}

.card.bug {
    border-style: dashed;
    padding-left: 4px;
}

.card .id {
    font-size: .8em;
    color: #616161;
    display: block;
    
}

.card .title {
    font-size: 1em;   
    line-height: 1em;
}

.card .effort {
    font-size: 2em;
    line-height: 1em;
    margin-right: 3px;
    color: #616161;
    background-color: rgba(255,255,255,.5);
    float: right;
}

@page {
    size: portrait;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
    body {
        padding: 0;
        margin: 0;
    }
    .fluid-container {
        padding: 0;
        margin: 0;
    }
    #page {
        padding: 0;
        margin: 0;
    }

}